/* Shotcut Css */
.font{
    font-family: sans-serif;
}
/* Header Sectioin */
.header_section{
    background: #101446;
}
.header_logo img{
    width: 90px;
}
.header_menu ul{
    margin-bottom: 0;
}
.header_menu ul li{
    display: inline-block;
    margin-left: -4px;
}
.header_menu ul li a{
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    line-height: 58px;
}

/* Banner Section */
.banner_section{
    background: url(https://www.linkpicture.com/q/intro-bg.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_text{
    color: #fff;
    margin-top: 350px;
}
.black{
    background: #040404;
    height: 55px;
    margin-top: 132px;
}

/* Team */
.team_section {
	background: #bbc1f0;
	height: 620px;
}
.team_item h1 {
	padding-top: 80px;
	padding-bottom: 30px;
	font-size: 55px;
}
.team_item img{
    width: 100%;
}
.item_style {
	width: 150px;
	height: 280px;
	font-size: 12px;
	display: inline-block;
}
.item_2 {
	margin: 0 120px;
}
.item_style span {
	margin: 3px 0 6px 0;
	display: block;
}

.item_style p {
	color: #636a73;
}
.item_style a {
	background: #2f79b4;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	padding: 6px 15px;
	border-radius: 5px;
	display: inline-block;
}
.item_3 img {
	height: 225px;
}
/* About Section */
.about_section{
    height: 495px;
    background: #c1d4e9;
}
.about_section li {
	font-size: 14px;
	list-style-type: none;
	line-height: 30px;
}
.about_section p{
    font-size: 14px;
}
.about_section span{
    font-size: 18px;
}

/* Contact Section */
.contact_section {
	height: 615px;
}

/* Footer */
.footer p{
    margin-bottom: 0px;
    display: block;
}